In [31]:
import os
print("Текущая рабочая директория:", os.getcwd())

Текущая рабочая директория: /Users/kseniazyranova

In [22]:
import pandas as pd

df = pd.read_csv("/Users/kseniazyranova/Projects/BankChurn/data/train.csv")
test = pd.read_csv("/Users/kseniazyranova/Projects/BankChurn/data/test.csv")


print("============ TRAIN DATA ============")
print(df.head())
print(df.describe())

print("######### TEST DATA #########")
print(test.head())
print(test.describe())

"""
15000 клиентов для обучения

10000 клиетов для проверки
"""

============ TRAIN DATA ============
   id  CustomerId     Surname  CreditScore Geography  Gender   Age  Tenure  \
0   0  15653521.0  Nkemakonam        667.0   Germany    Male  33.0     3.0
1   1  15699005.0   Chiekwugo        614.0    France  Female  31.0     2.0
2   2  15656912.0      Chiang        683.0   Germany  Female  24.0     6.0
3   3  15700772.0      Ch'ang        678.0    France  Female  38.0     9.0
4   4  15583850.0      Chiang        588.0     Spain  Female  39.0     3.0

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0  131769.04            1.0        1.0             1.0        162719.69
1  110615.47            1.0        1.0             1.0        181879.56
2  115074.02            2.0        1.0             0.0        109688.82
3       0.00            1.0        1.0             0.0        122823.84
4       0.00            2.0        1.0             1.0        136910.18

   Exited
0     0.0
1     0.0
2     0.0
3     1.0
4     0.0
                 id    CustomerId   CreditScore           Age        Tenure  \
count  15000.000000  1.500000e+04  15000.000000  15000.000000  15000.000000
mean    7499.500000  1.570226e+07    658.607333     37.721667      5.030800
std     4330.271354  1.146899e+06     72.428993      8.167030      2.800876
min        0.000000  1.556571e+07    431.000000     18.000000      0.000000
25%     3749.750000  1.563652e+07    602.000000     32.000000      3.000000
50%     7499.500000  1.569018e+07    663.000000     37.000000      5.000000
75%    11249.250000  1.575758e+07    708.000000     42.000000      7.000000
max    14999.000000  1.558890e+08    850.000000     74.000000     10.000000

             Balance  NumOfProducts     HasCrCard  IsActiveMember  \
count   15000.000000   15000.000000  15000.000000    15000.000000
mean    43100.479284       1.581200      0.789467        0.495400
std     59903.132500       0.527976      0.407701        0.499996
min         0.000000       1.000000      0.000000        0.000000
25%         0.000000       1.000000      1.000000        0.000000
50%         0.000000       2.000000      1.000000        0.000000
75%    110125.830000       2.000000      1.000000        1.000000
max    205962.000000       4.000000      1.000000        1.000000

       EstimatedSalary        Exited
count     15000.000000  15000.000000
mean     117824.489347      0.207867
std       45487.690876      0.405794
min          11.580000      0.000000
25%       83419.490000      0.000000
50%      123570.900000      0.000000
75%      157097.090000      0.000000
max      199953.330000      1.000000
######### TEST DATA #########
      id  CustomerId           Surname  CreditScore Geography  Gender   Age  \
0  15000  15646539.0  Onyemauchechukwu        821.0     Spain    Male  32.0
1  15001  15628144.0          Chikwado        634.0    France    Male  28.0
2  15002  15687953.0              Ting        713.0    France    Male  42.0
3  15003  15585067.0            Achebe        611.0    France  Female  38.0
4  15004  15746190.0   Chiazagomekpere        724.0    France    Male  29.0

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0     3.0       0.00            1.0        1.0             1.0
1     1.0  129299.28            1.0        1.0             0.0
2     1.0       0.00            2.0        1.0             1.0
3     3.0       0.00            1.0        0.0             1.0
4     9.0       0.00            1.0        1.0             1.0

   EstimatedSalary
0        120893.85
1        179655.85
2         80552.12
3        151335.24
4         88724.49
                id    CustomerId  CreditScore           Age       Tenure  \
count  10000.00000  1.000000e+04  10000.00000  10000.000000  10000.00000
mean   19999.50000  1.584729e+07    659.12130     37.689400      5.04980
std     2886.89568  1.548435e+07     74.54056      8.201381      2.79791
min    15000.00000  1.556625e+07    431.00000     18.000000      0.00000
25%    17499.75000  1.563493e+07    602.00000     32.000000      3.00000
50%    19999.50000  1.568920e+07    662.00000     37.000000      5.00000
75%    22499.25000  1.575787e+07    710.00000     42.000000      7.00000
max    24999.00000  1.564111e+09    850.00000     74.000000     10.00000

             Balance  NumOfProducts     HasCrCard  IsActiveMember  \
count   10000.000000   10000.000000  10000.000000    10000.000000
mean    42898.082204       1.593000      0.785000        0.495400
std     59816.984311       0.528941      0.410843        0.500004
min         0.000000       1.000000      0.000000        0.000000
25%         0.000000       1.000000      1.000000        0.000000
50%         0.000000       2.000000      1.000000        0.000000
75%    109975.597500       2.000000      1.000000        1.000000
max    187534.790000       4.000000      1.000000        1.000000

       EstimatedSalary
count     10000.000000
mean     117004.926454
std       46138.851564
min         110.790000
25%       82356.365000
50%      122951.355000
75%      155876.060000
max      199992.480000

In [23]:
print(df.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               15000 non-null  int64
 1   CustomerId       15000 non-null  float64
 2   Surname          15000 non-null  object
 3   CreditScore      15000 non-null  float64
 4   Geography        15000 non-null  object
 5   Gender           15000 non-null  object
 6   Age              15000 non-null  float64
 7   Tenure           15000 non-null  float64
 8   Balance          15000 non-null  float64
 9   NumOfProducts    15000 non-null  float64
 10  HasCrCard        15000 non-null  float64
 11  IsActiveMember   15000 non-null  float64
 12  EstimatedSalary  15000 non-null  float64
 13  Exited           15000 non-null  float64
dtypes: float64(10), int64(1), object(3)
memory usage: 1.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               10000 non-null  int64
 1   CustomerId       10000 non-null  float64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  float64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  float64
 7   Tenure           10000 non-null  float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  float64
 10  HasCrCard        10000 non-null  float64
 11  IsActiveMember   10000 non-null  float64
 12  EstimatedSalary  10000 non-null  float64
dtypes: float64(9), int64(1), object(3)
memory usage: 1015.8+ KB
None

In [ ]:
ЧИСТИМ ДАННЫЕ

In [27]:
print(df.isnull().sum())
print(test.isnull().sum())

"""
df.dropna()                     # Удалить все строки с пропусками
df.dropna(subset=['column']) # Удалить строки с пропусками в конкретной колонке
df.fillna(value)            # Заполнить пропуски значением
df['column'].fillna(df['column'].mean())   # Заполнить средним
df['column'].fillna(df['column'].median()) # Заполнить медианой
df['column'].fillna(df['column'].mode()[0]) # Заполнить модой
"""

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64
id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [ ]:
СМОТРИМ ВЫБРОСЫ

In [30]:
print(df['CreditScore'].describe())
print(df['Age'].describe())
print(df['Tenure'].describe())
print(df['Balance'].describe())
print(df['NumOfProducts'].describe())
print(df['HasCrCard'].describe())
print(df['HasCrCard'].describe())
print(df['HasCrCard'].describe())

count    15000.000000
mean       658.607333
std         72.428993
min        431.000000
25%        602.000000
50%        663.000000
75%        708.000000
max        850.000000
Name: CreditScore, dtype: float64

In [ ]:
print(df['HasCrCard'].describe())
   id  CustomerId     Surname  CreditScore Geography  Gender   Age  Tenure  \
0   0  15653521.0  Nkemakonam        667.0   Germany    Male  33.0     3.0   
1   1  15699005.0   Chiekwugo        614.0    France  Female  31.0     2.0   
2   2  15656912.0      Chiang        683.0   Germany  Female  24.0     6.0   
3   3  15700772.0      Ch'ang        678.0    France  Female  38.0     9.0   
4   4  15583850.0      Chiang        588.0     Spain  Female  39.0     3.0   

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0  131769.04            1.0        1.0             1.0        162719.69   
1  110615.47            1.0        1.0             1.0        181879.56   
2  115074.02            2.0        1.0             0.0        109688.82   
3       0.00            1.0        1.0             0.0        122823.84   
4       0.00            2.0        1.0             1.0        136910.18   

   Exited